.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #A7A9AC;
    gap: 5%   
}



.container h1{
    font-size: 3.5rem;
}

.container p{
    font-size: 1.2rem;    
}

.smalltextbox{
    height: 5vh;
    width: 60%; 
    background-color: transparent;
    border: 0.5vh solid #A7A9AC;
}

.bigtextbox{
    height: 25vh;
    width: 60%; 
    background-color: transparent;
    border: 0.5vh solid #A7A9AC;
}

.sendButton{
    
    width: 6vw;
    height: 5vh;
    background-color: transparent;
    border: 0.35vh solid #A7A9AC;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 3vh;
    transition: background-color 0.05s ease-in-out;
    transition: transform 0.05s ease-in-out;
    
}

.sendButton:hover{
    background-color: #A7A9AC;
    color: #083050;
    transform: scale(1.1);
}