.container{
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #A7A9AC;
    gap: 2rem; 
}

.container h1{
    font-size: 3rem;
    font-family: var(--font-lucida-bright);
}

.container p{
    font-size: 1.0rem;    
    font-family: var(--font-lucida-bright);  
    color: #A7A9AC;
}

.smalltextbox{
    height: 2.5rem;
    width: 75%; 
    background-color: transparent;
    border: 0.25vh solid #A7A9AC;
}

.bigtextbox{
    height: 12rem;
    width: 75%; 
    background-color: transparent;
    border: 0.25vh solid #A7A9AC;
}

.sendButton{    
    height: 3rem;
    padding: 0 2rem;
    background-color: #A7A9AC !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 3rem;
    transition: transform 0.1s ease-in-out;    
}

.sendButton button {
    background-color: #A7A9AC;
}

.sendButton button p {
    color: #083050;
    font-size: 1rem;
}

.sendButton:hover{
    color: #083050;
    background-color: #A7A9AC;
    transform: scale(1.05);
}


.error {
    color: red;
    opacity: 0.8;
    font-size: 0.875rem;
    margin-top: 0.25rem; 
}


.input{
    caret-color: white;
    font-family: var(--font-gotham-light);
    font-size: 1.5rem;
}

.container textarea {
    font-family: var(--font-gotham-light);
    font-size: 1.5rem;
}


  