.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #A7A9AC;
    gap: 5%   
}

.container h1{
    font-size: 3.2rem;
    font-family: var(--font-lucida-bright);
}

.container p{
    font-size: 1.5rem;    
}

.smalltextbox{
    height: 2.5rem;
    width: 75%; 
    background-color: transparent;
    border: 0.25vh solid #A7A9AC;
}

.bigtextbox{
    height: 12rem;
    width: 75%; 
    background-color: transparent;
    border: 0.25vh solid #A7A9AC;
}

.sendButton{
    
    width: 6.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: 0.25vh solid #A7A9AC;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 3rem;
    transition: background-color 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    
}

.sendButton:hover{
    background-color: #A7A9AC;
    color: #083050;
    transform: scale(1.15);
}


.error {
    color: red;
    opacity: 0.8;
    font-size: 0.875rem;
    margin-top: 0.25rem; 
}


.input{
    caret-color: white;
    font-family: var(--font-gotham-light),
}

.container textarea {
    font-family: var(--font-gotham-light),
}
