.container {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
  }

.wrapper {
  display: flex;
  width: 60%;
  margin-left: 20rem;
  align-items: center;
  position: relative;
}

.border{
  width: 100%;
  height: 85vh;
  border: 0.5vh solid #083050;
  display: flex;
  align-items: center;
  position: relative;
}

.imagem{
  width: 26rem;
  height: 85%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: -20rem;
}

.textcontent {
  width: 100%;
  padding-left: 8rem;
  padding-right: 1.5rem;
  color: #A7A9AC;
}

.textcontent h1 {
  font-family: var(--font-lucida-bright);
  font-size: 4.2rem;
  padding-bottom: 0.5rem;
}

.textcontent p {
  font-family: var(--font-gotham-light);
  font-size: 1.6rem;
  text-align: justify;
  
}
  
